body{
    background-color: black;
    color: white;
    height: 100vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Segoe UI', Tahoma;
}

#site-name {
    font-size: 20px;
    margin-left: 10%;
    display: absolute;
    
}

.highlight {
    color:rgb(235, 168, 80);
}

/* Search bar */
#search-container {
    background-color: azure;
    border-radius: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-submit, #sort{
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px 10px;
}

#search-box {
    width: 75%;
    height: 30px;
    border: none;
    border-radius: 20px;
    margin: 0.3em;
}

#search-bar * {
    margin: 5px 10px;
}

.dropdown-menu{
    list-style: none;
    position: absolute;
    z-index: 1;
    display: flex;
    display: none; 
    opacity: 1;
    transition: 0.2s;
    flex-direction: column;
    width: auto;
    background-color: grey;
    font-size: 0.7rem;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
}
.dropdown-menu li{
    color: whitesmoke;
    cursor: pointer;
    padding: 0.7em 0.5em;
    margin: 0.1em;
    margin-bottom: 5px;
    border-radius: 5px;
}

.dropdown-menu li:hover {
    background-color: black;
    background-color: #2a2d35;

}


.dropdown-menu-open{
    display: block;
    opacity:1;
}
/* Film Tiles */

#film-tile {
    border: 2px solid white;
    border-radius: 10px;
    min-width: 150px;
    background-color: pink;
    color: black;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#movie-container{
    margin: 5% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Film Tile Content */
#film-poster{
    max-height: 150px;
    width: auto;   
    padding: 10px 0;
}

#film-title {
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 10px;
    margin: 2px;;
}

li {
    padding:0  10px;
    margin-bottom: 10px;
}


#film-tile2{
    display: flex;
    background-color: white;
    color: red;
}

#film-info{
    display:flex;
    flex-direction: row;
}

.info {
    width: 100%;
}